# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/

# Environment variables / Secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# PyCharm
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Testing / Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/
.tox/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Type checkers
.mypy_cache/